@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: "Noto Sans TC";
}

h1 {
  font-family: inherit;
  text-transform: none;
  line-height: 6rem;
}

h2 {
  font-family: inherit;
  text-transform: none;
  line-height: 3.5rem;
}

h3 {
  font-family: inherit;
  text-transform: none;
  line-height: 1.75rem;
}

h4 {
  font-family: inherit;
  text-transform: none;
  line-height: 1.5rem;
}

.subheading {
  font-family: inherit;
  text-transform: none;
  margin-top: 1.35rem;
}

.btn {
	font-family: inherit;
	}
	
.div{
	font-family: inherit;
	}
	
header.masthead .intro-text .intro-heading{
	font-family: inherit;
	text-shadow:
	   5px 5px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	}
	
header.masthead .intro-text .intro-lead-in{
	font-family: inherit;
	text-shadow:
	   5px 5px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	}
	
#mainNav .navbar-nav .nav-item .nav-link{
	font-family: inherit;
    }
	
#mainNav .navbar-brand{
	font-family: inherit;
	}

.card{
    width:170%;
}

section#work .section-heading{
	font-family: inherit;
	text-shadow:
	   5px 5px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	}
