@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: "Noto Sans TC";
}

h1 {
  font-family: inherit;
  text-transform: none;
  line-height: 6rem;
}

h2 {
  font-family: inherit;
  text-transform: none;
  line-height: 3.5rem;
}

h3 {
  font-family: inherit;
  text-transform: none;
  line-height: 1.75rem;
}

h4 {
  font-family: inherit;
  text-transform: none;
  line-height: 1.5rem;
}

.subheading {
  font-family: inherit;
  text-transform: none;
  margin-top: 1.35rem;
}

.btn {
	font-family: inherit;
	}
	
.div{
	font-family: inherit;
	}
	
header.masthead .intro-text .intro-heading{
	font-family: inherit;
	text-shadow:
	   5px 5px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	}
	
header.masthead .intro-text .intro-lead-in{
	font-family: inherit;
	text-shadow:
	   5px 5px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	}
	
#mainNav .navbar-nav .nav-item .nav-link{
	font-family: inherit;
    }
	
#mainNav .navbar-brand{
	font-family: inherit;
	}

.card{
    width:170%;
}

section#work .section-heading{
	font-family: inherit;
	text-shadow:
	   5px 5px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	}

section#work .section-subheading text-muted{
	font-family: inherit;
	text-shadow:
	   5px 5px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}